body, button, input, select, textarea :root {
    --platform-main-font: 'Eadojo Font Title', 'Editor Font Title';
    --platform-secondary-font: 'Eadojo Font', 'Editor Font';
    --platform-main-color: #3c3347;
    --platform-light-color: #7d728a;
    // --primary_eadojo_color
    // --secondary_eadojo_color
  }

  @keyframes fadeIn{
    0% {
      opacity:0;
      border-top: 0px solid #FFF;
    }
    100% {
      opacity:1;
      border-top: 20px solid #FFF;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
      border-top: 0px solid #FFF;
    }
    100% {
      opacity:1;
      border-top: 20px solid #FFF;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
      border-top: 0px solid #FFF;
    }
    100% {
      opacity:1;
      border-top: 20px solid #FFF;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
      border-top: 0px solid #FFF;
    }
    100% {
      opacity:1;
      border-top: 20px solid #FFF;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
      border-top: 0px solid #FFF;
    }
    100% {
      opacity:1;
      border-top: 20px solid #FFF;
    }
  }
  
  .navbar {
    //background-color: var(--primary_eadojo_color);
    height: 78px;
    position: absolute;
    width: 100%;
    background: rgba(97, 24, 105, .5);
    border-bottom: 0;
    //border-bottom: 1px solid #FFF;

    .navbar-end {

        .navbar-item {
            color: #FFF;

            .buttons {

                .button {

                    &.logIn {
                        color: var(--primary_eadojo_color);
                        transition: ease 0.4s;
        
                        &:hover {
                            background-color: var(--primary_eadojo_color);
                            color: #FFF;
                        }
                        
                    }

                }

            }

        }

    }

}

.container {

  &.boxDomain {
    max-width: 1000px;

    .box {
      margin-top: -40px;
      border-radius: 4px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);

      .columns {
        height: 70px;

        .column {

          .buttons {

            &.boxDomainButtons {
              justify-content: flex-end;
            } 

            .button {
              color: var(--primary_eadojo_color);
              transition: ease 0.4s;
              background-color: var(--primary_eadojo_color);
              color: #FFF;

              &.block {
                pointer-events: none;
                color: rgb(128, 128, 128);
                background-color: rgb(235, 235, 235);
              }

            }

          }
        
        }

      }

    }

  }
  
}

.section {
    padding: 5rem 1.5rem;

    &.creation {
        padding-top: 120px;
        padding-bottom: 120px;

        .container {
          max-width: 1170px;

          .buttons {

            .button {
              background-color: rgba(97, 31, 105, 0.1);
              color: var(--primary_eadojo_color);
            }

          }

        }

    }

    &.firstSection {
        height: 80vh;
        background-color: var(--platform-main-color);
        background-image: url('./images/Imagem_Secao_1.jpg');
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        //background-position: center;

        .container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            align-items: center;
            max-width: 900px;
            
            .title {
                font-family: var(--platform-main-font);
                font-size: 72px;
                font-weight: 100;
            }

            .subtitle {
                font-family: var(--platform-secondary-font);
                font-size: 20px;
            }

            .button {
                border: none;
                font-family: var(--platform-secondary-font);
                color: var(--platform-main-color);
                font-size: 21px;
                font-weight: bold;
                transition: ease 0.4s;

                &:hover {
                    background-color: var(--primary_eadojo_color);
                    color: #FFF;
                }

            }

        }
        
    }

    .container {

        &.presentation {
            max-width: 1000px;

            .image {
              margin-top: 64px;

                .platformImage {
                  border-radius: 6px;
                  box-shadow: 0 35px 60px rgba(0,0,0,0.18);
                }
            }
            
        }
        
        &.help {
            max-width: 700px;
            padding-top: 160px;
            padding-bottom: 160px;

            .buttons {

              .button {
                font-size: 16px;
                font-weight: 500;
                padding: 16px 32px;
                background-color: var(--primary_eadojo_color);
                color: #FFF;
              }

            }

        }

        h2 {
            font-family: var(--platform-main-font);
            font-size: 40px;

            &.help {
                font-size: 48px;
            }

        }

        h3 {
            font-family: var(--platform-main-font);
            font-size: 25px;
            color: #888888;
        }

        .columns {

            &.creation { 
                //min-height: 250px;
                display: grid;
                grid-auto-flow: dense;
                gap: 64px;
                grid-auto-rows: 1fr;
                grid-template-columns: repeat(4, 1fr);
                margin: 64px 0;

                .column {
                    text-align: start;

                    .creationIcon {
                        width: fit-content;
                        background-color: rgba(97, 31, 105, .1);
                        padding: 10px;
                        border-radius: 6px;
                        color: var(--primary_eadojo_color);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 20px;
                    }

                    .title {
                      font-size: 18px;
                      margin-bottom: 0;
                    }

                    .subtitle {
                        margin-top: 10px;
                        color: rgb(91, 105, 135);
                        font-size: 16px;
                    }

                }

            }

        }
    
        .buttons {
            justify-content: center;
        }

        .container {
          font-family: var(--platform-secondary-font);
          display: flex;
          justify-content: center;
          align-items: center;
            //height: 150px;
          //height: 200px;
  
          .tabs {
            width: 100%;
            //height: 150px;
            //align-items: flex-start;
          
              ul {
                justify-content: space-between;
                border-bottom: none;
              
                  li {
                  width: 150px;
                  height: 100px;
                  background-color: #FFF;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  font-weight: bold;
                  font-size: 18px;
                  //border: 1px solid #999999; */
                  box-shadow: 0 4px 5px rgba(25, 67, 81, 0.1);
                  border-radius: 5px;
                  transition: .4s ease;
                  cursor: pointer;
                  text-decoration: none;
                  z-index: 9;
                  background-color: var(--primary_eadojo_color);
                  color: #FFF;
  
                  .icon {
                    margin-bottom: 10px;
                  }
  
                  &.is-active {
                    color: var(--primary_eadojo_color);
                    //margin-bottom: 15px;  
                      //margin-bottom: 50px;
                    //border-top: 5px solid var(--platform-light-color);
                    border-top: 5px solid #FFF;
                    background-color: #FFF;

                    &::after {
                        content: "";
                        width: 0;
                        height: 0;
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                        //border-top: 20px solid var(--platform-light-color);
                        border-top: 20px solid #FFF;
                        clear: both;
                        margin-top: 2%;
                        transform: rotate(180deg);
                        transition: .4s ease;
                        position: absolute;
                        top: -40px;
                        animation: fadeIn ease 0.5s;
                        -webkit-animation: fadeIn ease 0.5s;
                        -moz-animation: fadeIn ease 0.5s;
                        -o-animation: fadeIn ease 0.5s;
                        -ms-animation: fadeIn ease 0.5s;
                    }

                  }
  
                }
          
            }
        
          }
        
        }

    }

    &.has-main-bg {
        //background-color: var(--primary_eadojo_color);
        background-color: #f2f2f7;
        padding-top: 120px;
        padding-bottom: 120px;

        .container {

          .content {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px 0;
            height: 70px;
            color: #5b6987;
            font-size: 16px;
            line-height: 160%;
            font-weight: 400;
            font-style: normal;
          }

        }

    }

    &.createAccount {
        background-color: #202427;

        .container {

            .columns {

                .column {
                    display: flex;
                    justify-content: flex-start;

                    .subtitle {
                        font-size: 36px;
                    }

                    &.columnAction {
                        display: flex;
                        justify-content: flex-end;

                        .buttons {

                          .button {
                            padding: 30px 30px 28px;
                            font-size: 1em;
                            color: var(--primary_eadojo_color);
                            transition: ease 0.4s;
            
                            &:hover {
                                background-color: var(--primary_eadojo_color);
                                color: #FFF;
                            }

                          }

                        }

                    }

                }

            }

        }

    }

}

.footer {
    background-color: #383838;

    .container {

        .columns {
            display: flex;
            justify-content: flex-start;

            .column {
                text-align: start;

                .title {
                    font-size: 18px;
                }

                .subtitle {
                    margin-top: 20px;
                    font-size: 18px;
                }

                .content {

                  a {
                    text-decoration: none;
                    color: #FFF;
                    margin-right: 10px;

                  }

                }

            }

        }

    }

}